<%= form_for @note do |f| %>

<div>
<%= f.label :start_time %>
<%= f.text_area :start_time %>
</div>

<div>
<%= f.label :description %>
<%= f.text_area :description %>
</div>

<%= f.submit %>

<% end %>