<nav>
    <ul>
        <li><%= link_to "Home", users_path %></li>
        <li><%= link_to "Show Tasks", tasks_path %></li>
        <li><%= link_to "New Task", new_task_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
</nav>


<h1>New Task</h1>
<%= render 'form' %>
<p><%= link_to "Back to tasks", tasks_path %></p>