<div id="events">
    <!--<h3><%= link_to "New Event", new_event_path %></h3>-->
    <!--<h3><%= link_to "All Events", events_path %></h3>-->
</div>

<div id="calendar">
<%= month_calendar events: @user.events do |date, events| %>

<% val = false %>
<% counter = 0 %>
<% array = [] %>
  <% events.each do |event| %>
    <% val = true %>
    <% counter += 1 %>

   <% if counter == 1%>
   <%= link_to date.day %>
     <% end %>
     
    <div>
        <%= event.event_title %>
    </div>
    <% array.push(event) %>
  <% end %>
  <% if val == false %>
     <%= link_to date.day %>
  <% end %>
<% end %>
</div>


