<nav>
    <ul>
        <li><%= link_to "Home", users_path %></li>
        <li><%= link_to "Add Event", new_event_path %></li>
        <li><%= link_to "Show Events", events_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
    </ul>
</nav>

<%= month_calendar events: @user.events do |date, events| %>

<% val = false %>
<% counter = 0 %>
<% array = [] %>
  <% events.each do |event| %>
    <% val = true %>
    <% counter += 1 %>

   <% if counter == 1%>
   <%= link_to date.day %>
     <% end %>
     
    <div>
        <%= event.event_title %>
    </div>
    <% array.push(event) %>
  <% end %>
  <% if val == false %>
     <%= link_to date.day %>
  <% end %>
<% end %>



