<%= month_calendar events: @user.events, tasks: @user.tasks do |date, events, tasks| %>

  <%= link_to date.day, "", class: "date_selected", data: {"js-date-link" => date} %>


  <% events.each do |event| %>
    <div>
      <%= event.event_title %>
    </div>
  <% end %>

<% end %>


 <%= link_to "Add Event", new_event_path %>
 <%= link_to "Add Task", new_task_path %>

