<!DOCTYPE html>
<html>
  <head>
    <title>DailyPlannerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <h1 id="title">Daily Planner</h1>
      <% if user_signed_in? %>
      <nav>
      <ul>
      <li><%= link_to "Home", user_path(current_user) %></li>
       <li><%= link_to "Events", events_path %></li>
       <li><%= link_to "Tasks", tasks_path %></li>
       <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
       </ul>
       </nav>
        <% end %>

    <%= yield %>      
  </body>
</html>
